<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="all">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<param name="ImmediateFlush" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2} %3x - %m%n" />
		</layout>
	</appender>
	<appender name="error-output" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="ERROR" />
		<param name="ImmediateFlush" value="true" />
		<param name="Encoding" value="UTF-8"></param>
		<param name="File" value="/ccs/logs/error/errorlog.log" />
		<param name="Append" value="true" />
		<param name="BufferedIO" value="true" />
		<!-- <param name="MaxFileSize" value="10000KB" /> -->
		<!-- <param name="maxBackupIndex" value="20" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2} %3x - %m%n" />
		</layout>
	</appender>
	<appender name="rolling-hibernate" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="ImmediateFlush" value="false" />
		<param name="Encoding" value="UTF-8"></param>
		<param name="File" value="/ccs/logs/sql/trace-hibernate.log" />
		<param name="Append" value="true" />
		<param name="BufferedIO" value="true" />
		<!-- <param name="MaxFileSize" value="10000KB" />
		<param name="maxBackupIndex" value="20" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2} %3x - %m%n" />
		</layout>
	</appender>

	<!-- Logger definitions. -->
	<!-- extras System Framework Logger. -->
	<logger name="com.xcesys.extras">
		<level  value="INFO" />
	</logger>
	<logger name="com.wanda.ccs">
		<level value="DEBUG" />
	</logger>
	<logger name="p6spy">
		<level value="INFO" />
	</logger>
	<!-- Hibernate ORM Logger. -->
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	<!-- Hibernate ORM Logger. -->
	<logger name="org.hibernate">
		<level  value="WARN" />
	</logger>
	 <logger name="org.hibernate.SQL">
		<level  value="DEBUG" />
		<appender-ref ref="rolling-hibernate" />
	</logger> 
	<root>
		<level  value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="error-output" />
	</root>
</log4j:configuration>